{% extends 'base.html.twig' %}

{% block body %}
    <h1>Comentarios list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Descripcion</th>
                <th>Puntuacion</th>
                <th>Fecha</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comentario in comentarios %}
            <tr>
                <td><a href="{{ path('comentario_show', { 'id': comentario.id }) }}">{{ comentario.id }}</a></td>
                <td>{{ comentario.descripcion }}</td>
                <td>{{ comentario.puntuacion }}</td>
                <td>{% if comentario.fecha %}{{ comentario.fecha|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('comentario_show', { 'id': comentario.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('comentario_edit', { 'id': comentario.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('comentario_new') }}">Create a new comentario</a>
        </li>
    </ul>
{% endblock %}
