{% extends 'base_logueado.html.twig' %}

{% block contenido %}
    {{parent()}}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1> Nuevo Comentario
                    <button type="button" id="irAlListado" href="{{ path('publicacion_index') }}" class="btn btn-primary pull-right"> Ir al listado</button>
                </h1> 

                <div class="row">
                    {{ form_start(form) }}
                        <div class="col-md-6">
                            {{form_label(form.descripcion)}}
                            {{form_widget(form.descripcion, {'attr':{'class':'form-control'}})}}
                            {{form_errors(form.descripcion)}}
                        </div>
                        <div class="col-md-6">
                            {{form_label(form.puntuacion)}}
                            {{form_widget(form.puntuacion, {'attr':{'class':'form-control'}})}}
                            {{form_errors(form.puntuacion)}}
                        </div>

                        <div class="col-md-12 col-md-offset-10">
                            <br>
                            <input type="submit" value="Guardar" class="btn btn-success" />
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script type="text/javascript">
        $('#irAlListado').click(function(event) {
            var ruta = $(this).attr('href');
            window.location = ruta;
        });
    </script>
{% endblock %}