<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
  	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  	<a class="navbar-brand" href="{{path('homepage')}}" title="Inicio"> <i class="fas fa-handshake-o"></i> Free Market</a>

  	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">  		
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-circle" aria-hidden="true"></i> {{app.getUser}} <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li> <a href="{{path('publicacion_index_user', {'idUsuario': app.user.id})}}"> <i class="fas fa-list-alt" aria-hidden="true"></i> Mis publicaciones </a></li>
              <li> <a href="{{path('carrito_show', {'id':app.user.carrito.id} )}}"> <i class="fas fa-cart-plus" aria-hidden="true"></i> Mi carrito</a></li>
              <li><a href="{{path('compra_index')}}"> <i class="fas fa-shopping-bag" aria-hidden="true"></i> Mis compras</a></li>
              <li><a href="{{path('billetera_show')}}"> <i class="fas fa-wallet" aria-hidden="true"></i> Mi billetera</a></li>
              <li><a href="{{path('compra_reportes')}}"> <i class="fas fa-chart-line" aria-hidden="true"></i> Mis reportes</a></li>
              
              {#% if app.getUser.getRol == 'ROLE_ADMIN' %}
                <li><a href="#">Administrar categoria</a></li>
                <li><a href="#">Administrar ...</a></li>
                <li><a href="#">Administrar ...</a></li>
              {% endif %#}

              <li role="separator" class="divider"></li>
              <li><a href="{{ path('usuario_logout')}}"><i class="fas fa-power-off" aria-hidden="true"></i> Cerrar Sesión</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </div>
</nav>