{% extends 'base_logueado.html.twig' %}

{% block contenido %}
    <h1> <i class="fas fa-coins"></i> Movimientos de mi billetera</h1>

    <table class="table table-responsive table-bordered">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Concepto</th>
                <th>Monto</th>
            </tr>
        </thead>
        <tbody>
        {% for movimiento in movimientos|reverse %}
            <tr>
                <td>{% if movimiento.fecha %}{{ movimiento.fecha|date('d/m/Y H:i:s') }}{% endif %}</td>
                <td>{{ movimiento.tipo }}</td>
                <td {% if movimiento.monto < 0 %} style="color:red;" {% else %} style="color:green;" {% endif %} > ${{ movimiento.monto }} </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
