{% extends 'base.html.twig' %}

{% block body %}
    <h1>Movimiento</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ movimiento.id }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{% if movimiento.fecha %}{{ movimiento.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Monto</th>
                <td>{{ movimiento.monto }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('movimiento_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('movimiento_edit', { 'id': movimiento.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
