{% extends 'DesarrolloBundle:Paginador:plantillas/paginado_base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% include 'DesarrolloBundle:Paginador:componentes/js_init.html.twig' %}
    <script type="text/javascript">
        var pgruta = ""
        $(function(){
            $('#'+form).attr('action', pgruta)
        })
        function submitear() {
            loaderBoton()
            $('#'+form).submit()
        }
    </script>
    {% include 'DesarrolloBundle:Paginador:componentes/js.html.twig' %}
{% endblock %}
