{% extends paginador.layout ~ '.html.twig' %}

{% form_theme paginador.form 'form_div_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% include 'DesarrolloBundle:Paginador:componentes/css.html.twig' %}
{% endblock %}

{% block body %}
	{% include 'menu.html.twig' %}
		<div id="wrapper">
			{% if app.session.flashbag.has('aviso_success') or app.session.flashbag.has('aviso_error') %}
					<div id="container">
						{% if app.session.flashbag.has('aviso_success') %}
							<div class="alert alert-success alert-dismissible" role="alert">
							{% for flashMessage in app.session.flashbag.get('aviso_success') %}
							    <p>
							        {{ flashMessage }}
							    </p>
							{% endfor %}
							</div>
						{% endif %}

						{% if app.session.flashbag.has('aviso_error') %}
							<div class="alert alert-danger alert-dismissible" role="alert">
							{% for flashMessage in app.session.flashbag.get('aviso_error') %}
							    <p>
							        {{ flashMessage }}
							    </p>
							{% endfor %}
							</div>
						{% endif %}
						
						{% block contenido %} 

						{% endblock contenido %}
					</div>
			{% endif %}
		</div>
    {% include 'DesarrolloBundle:Paginador:componentes/mass_error.html.twig' %}
    	{% block titulo %}
    	{% endblock %}
		<div id="listado">
		    <form action="" method="POST" id="{{ paginador.id }}">
		    	{% block pre_pg %}{% endblock %}
		    	{% block pg_header %}
			        {% if paginador.form.filtros is defined and paginador.form.filtros|length > 0 %}
			            {% set filtros = paginador.form.filtros %}
			            {% block panelFiltros %}
			         	   	<div class="col-md-10 col-md-offset-1">
				            	{% include 'DesarrolloBundle:Paginador:componentes/filtro_'~ paginador.temaFiltro ~'.html.twig' %}
				            	{{ form_widget(paginador.form._token) }}
			         	   	</div>
			            {% endblock %}
			        {% endif %}
			        <div class="row">
			            <div class="col-md-12 panel-group text-right">
			                {% block botones %}{% endblock %}
			            </div>
			        </div>
		    	{% endblock %}
		        <div id="table-container-{{ paginador.id }}" class="{{ paginador.hide.listado ? 'hide' : '' }} {% block clase_tabla %}{% endblock %}">
		        	{% include 'DesarrolloBundle:Paginador:componentes/header.html.twig' %}
		            <div class="col-md-10 col-md-offset-1 e10">
		            {% block listado %}{% endblock %}
		            {% block pg_footer %}{% endblock %}
		            </div>
		            <hr>
		            {% include 'DesarrolloBundle:Paginador:componentes/footer.html.twig' %}
		            <hr>
		        </div>
		        {{ form_row(paginador.form._token) }}
		        {% block post_pg %}{% endblock %}
		    </form>
		</div>
{% endblock %}
