{% extends 'DesarrolloBundle:Paginador:plantillas/paginado_simple.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
    $(function () {
        var form = "{{ paginador.id }}"
        var pageForm = "{{ paginador.form.page.vars.id }}"
        var pageVal = "{{ paginador.form.vars.value.page }}"
        var totalPages = "{{ paginador.totalPages }}"
        var totalRows = "{{ paginador.totalRows }}"
        var cantForm = "{{ paginador.form.cantResultsPage.vars.id }}"
        var ordenPorForm = "{{ paginador.form.ordenarPor.vars.id }}"
        var ordenPorVal = "{{ paginador.form.vars.value.ordenarPor }}"
        var ordenForm = "{{ paginador.form.orden.vars.id }}"
        var ordenVal = "{{ paginador.form.vars.value.orden }}"
        var massIdsForm = "{{ paginador.form.massIds.vars.id }}"
        var massIdsVal = "{{ paginador.form.vars.value.massIds }}"
        var massAllForm = "{{ paginador.form.massAll.vars.id }}"
        var massAllVal = "{{ paginador.form.vars.value.massAll }}"
        var showPageNav = "{{ paginador.hide.pageNav }}"

        function validarBotonesPag() {
            if (totalPages <= 1 && !showPageNav) {
                $('#'+form+" .page-nav").addClass('hide')
            } else {
                $('#'+form+" .page-nav").removeClass('hide')
            }
            $("#prevPage-{{ paginador.id }}").attr('disabled',
                  (+$("#{{ paginador.id }} #"+pageForm).val() <= 1))
            $("#nextPage-{{ paginador.id }}").attr('disabled',
                ( parseInt(totalPages) <= parseInt(pageVal) ))
            $("#lastPage-{{ paginador.id }}").attr('disabled',
                ( parseInt(totalPages) <= parseInt(pageVal) ))
            $("#firstPage-{{ paginador.id }}").attr('disabled',
                (+$("#{{ paginador.id }} #"+pageForm).val() <= 1))
        }

        function limpiarMassIds() {
            $("#{{ paginador.id }} #"+massIdsForm).val('')
            massIdsVal = null
            $("#{{ paginador.id }} #"+massAllForm).val(false)
            massAllVal = false
        }

        function checkearSeleccionados() {
            if ($("#{{ paginador.id }} #"+massAllForm).val() && $("#{{ paginador.id }} #"+massAllForm).val() == 'true') {
                $("#{{ paginador.id }} #seleccionados-count").text(totalRows)
                $("#{{ paginador.id }} #massaction-all").attr('checked', true)
                $("#{{ paginador.id }} .massaction").each(function(index, el) {
                    this.checked = true
                });
            }
            else {
                if ($("#{{ paginador.id }} #"+massIdsForm).val()) {
                    var arr = $("#{{ paginador.id }} #"+massIdsForm).val().split('#')
                    for (var i = 0; i < arr.length; i++) {
                        $("#{{ paginador.id }} #massaction"+arr[i]).attr('checked', 'checked')
                    }
                    var count = arr.length
                    if (arr.length > 0 && arr[0] == "") {
                        count--
                    }
                    $("#{{ paginador.id }} #seleccionados-count").text(count)
                }
                else {
                    $("#{{ paginador.id }} #seleccionados-count").text(0)
                }
            }
        }

        function loaderBoton(active = true) {
            var contenido = active ?
                            '<i class="fas fa-spinner fa-spin"></i> Buscando...'
                            :
                            'Buscar'
            $("#buscar-{{ paginador.id }}").html(contenido)
        }
        var pgruta = "{{ path(ajax_route, ajax_params) }}"
        function submitear () {
            $("#loader-{{ paginador.id }}").removeClass('hide')
            $("#tabla-{{ paginador.id }} table").addClass('cargando')
            $.ajax({
                url: "{{ path(ajax_route, ajax_params) }}",
                type: 'post',
                data: $("#{{ paginador.id }}").serialize(),
            })
            .done(function(data) {
                $("#table-container-{{ paginador.id }}").removeClass('hide')
                $("#tabla-body-{{ paginador.id }}").html(data['html'])
                $("#actualPage-{{ paginador.id }}").text($("#{{ paginador.id }} #"+pageForm).val())
                $("#totalRows-{{ paginador.id }}").text(data['totalRows'])
                $("#totalPages-{{ paginador.id }}").text(data['totalPages'])

                $("#"+form+" #"+limpiarForm).val(false)
                limpiarVal = false
                totalPages = data['totalPages']
                pageVal = $("#{{ paginador.id }} #"+pageForm).val()
                validarBotonesPag()

                loaderBoton(false)
                $("#loader-{{ paginador.id }}").addClass('hide')
                $("#tabla-{{ paginador.id }} table").removeClass('cargando')
                checkearSeleccionados()
            })
            .fail(function(err) {
                console.error("error", err);
            })
        }

        validarBotonesPag()
        $("#prevPage-{{ paginador.id }}").click(function () {
            $("#{{ paginador.id }} #"+pageForm).val(+$("#{{ paginador.id }} #"+pageForm).val() - 1)
            submitear()
        })
        $("#nextPage-{{ paginador.id }}").click(function () {
            $("#{{ paginador.id }} #"+pageForm).val(+$("#{{ paginador.id }} #"+pageForm).val() + 1)
            submitear()
        })
        $("#firstPage-{{ paginador.id }}").click(function () {
            $("#{{ paginador.id }} #"+pageForm).val(1)
            submitear()
        })
        $("#lastPage-{{ paginador.id }}").click(function () {
            $("#{{ paginador.id }} #"+pageForm).val(totalPages)
            submitear()
        })
        $("#{{ paginador.id }} #"+cantForm).change(function () {
            $("#{{ paginador.id }} #"+pageForm).val(1)
            submitear()
        })
        $("#ordenar-{{ paginador.id }}").click(function () {
            $("#{{ paginador.id }} #"+pageForm).val(1)
            submitear()
        })

        $("#buscar-{{ paginador.id }}").click(function () {
            loaderBoton()
            $("#{{ paginador.id }} #"+pageForm).val(1)
            limpiarMassIds()
            submitear()
        })
        $("#limpiar-{{ paginador.id }}").click(function () {
            $("#filtros-{{ paginador.id }} :input").val('')
        })
        $("#filtros-{{ paginador.id }} :input").keypress(function (e) {
            if (e.keyCode == 13) {
                limpiarMassIds()
                submitear()
            }
        })

        $('th.ordenable').each(function () {
            var by = $(this).attr('sort')
            if (by == ordenPorVal) {
                $(this).attr('orden', ordenVal)
                $(this).append('<i class="fas fa-sort-'+ordenVal+'"></i>')
            }
        })
        $('th.ordenable').click(function () {
            var by = $(this).attr('sort')
            var orden = $(this).attr('orden')
            $("#"+ordenPorForm).val(by)
            $("#"+pageForm).val(1)
            if (orden) {
                $(this).find('i.fa').toggleClass('fa-sort-asc fa-sort-desc')
                orden = orden == 'asc' ? 'desc' : 'asc'
                $(this).attr('orden', orden)
                $("#"+ordenForm).val(orden)
            }
            else {
                $('th.ordenable').removeAttr('orden')
                $('th.ordenable i.fa').remove()
                $(this).attr('orden', ordenVal)
                $("#"+ordenForm).val(ordenVal)
                $(this).append('<i class="fas fa-sort-'+ordenVal+'"></i>')
            }
            submitear()
        });

        limpiarMassIds()
        checkearSeleccionados()

        $("#panel-filtro-{{ paginador.id }}").click(function () {
            $("#flecha-{{ paginador.id }}").toggleClass('fa-chevron-down fa-chevron-up')
        })

        $('[data-toggle="tooltip"]').tooltip()

        $(document).on('click', '.massaction',function (e) {
            console.log('click')
            var valor = $(this).val()
            if ($(this).is(':checked')) {
                $("#{{ paginador.id }} #"+massIdsForm).val($("#{{ paginador.id }} #"+massIdsForm).val()+'#'+valor)
                var count = parseInt($("#{{ paginador.id }} #seleccionados-count").text()) + 1
            }
            else {
                var arr = []
                if ($("#{{ paginador.id }} #"+massAllForm).val() == 'true') {
                    $("#{{ paginador.id }} #"+massAllForm).val(false)
                    $('#massaction-all').attr('checked', false)
                    $('.massaction:checked').each(function(index, el) {
                        arr.push(this.value)
                    });
                    var count = arr.length
                }
                else {
                    arr = $("#{{ paginador.id }} #"+massIdsForm).val().split('#')
                    var index = arr.indexOf(valor)
                    arr.splice(index, 1)
                    var count = arr.length
                    if (arr.length > 0 && arr[0] == "") {
                        count--
                    }
                }
                var resultado = arr.join('#')
                $("#{{ paginador.id }} #"+massIdsForm).val(resultado)
            }
            $("#{{ paginador.id }} #seleccionados-count").text(count)
        })

        $(document).on('click', '#massaction-all', function (e) {
            var acc = this.checked ? true : false
            $("#{{ paginador.id }} #"+massAllForm).val(acc)
            massAllVal = acc
            $("#{{ paginador.id }} .massaction").each(function(index, el) {
                this.checked = acc
            })
            if (acc) {
                var count = totalRows
            }
            else {
                limpiarMassIds()
                var count = 0
            }
            $("#{{ paginador.id }} #seleccionados-count").text(count)
        })

        $(document).on('click', '.dropdown .action', function (e) {
            e.preventDefault()
            if ($("#{{ paginador.id }} #seleccionados-count").text() == '0') {
                $("#{{ paginador.id }} #mass-count-error").removeClass('hide')
                setTimeout(function () {
                    $("#{{ paginador.id }} #mass-count-error").addClass('hide')
                }, 2500)
            } else {
                var modal = $(this).attr('modal')
                var action = pgruta +"?mass=" + $(this).attr('id')
                var x = $("#{{ paginador.id }}").attr('action')
                var i = x.indexOf('?')
                if (i > -1) {
                    x = x.substr(0, i)
                }
                $("#{{ paginador.id }}").attr('action', x+action)
                if (modal != '') {
                    $('#'+modal).modal('show')
                } else {
                    $("#{{ paginador.id }}").submit()
                }
            }
        })

        $(".modal-cancelar-{{ paginador.id }}").click(function () {
            var action = $("#{{ paginador.id }}").attr('action')
            var i = action.indexOf('?')
            if (i > -1) {
                action = action.substr(0, i)
            }
            $("#{{ paginador.id }}").attr('action', action)
        })
    })
    </script>
{% endblock %}
