{% block stylesheets %}
    {% include 'DesarrolloBundle:Paginador:componentes/css.html.twig' %}
{% endblock %}

{% block modals %}{% endblock %}

{% form_theme paginador.form 'form_div_layout.html.twig' %}

{% block contenido %}
	{% include 'DesarrolloBundle:Paginador:componentes/mass_error.html.twig' %}
	{% block titulo %}{% endblock %}
	<div id="listado">
	    <form action="" method="POST" id="{{ paginador.id }}">
	    	{% block pg_header %}
		        {% if paginador.form.filtros is defined and paginador.form.filtros|length > 0 %}
		            {% set filtros = paginador.form.filtros %}
		            {% block panelFiltros %}
		            	{% include 'DesarrolloBundle:Paginador:componentes/filtro_'~ paginador.temaFiltro ~'.html.twig' %}
		            {% endblock %}
		        {% endif %}
		        <div class="row">
		            <div class="col-md-12">
		                {% block botones %}{% endblock %}
		            </div>
		        </div>
	    	{% endblock %}
	        <div id="table-container-{{ paginador.id }}" class="{{ paginador.hide.listado ? 'hide' : '' }} {% block clase_tabla %}{% endblock %}">
	        	{% include 'DesarrolloBundle:Paginador:componentes/header.html.twig' %}
	            <div class="e10"></div>
	            {% block listado %}{% endblock %}
	            {% block pg_footer %}{% endblock %}
	            <hr>
	            {% include 'DesarrolloBundle:Paginador:componentes/footer.html.twig' %}
	            <hr>
	        </div>
	        {{ form_row(paginador.form._token) }}
	    </form>
	</div>

{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/jquery-3.1.1.min.js') }}" type="text/javascript"></script>
{% endblock %}
