{% extends 'DesarrolloBundle:Paginador:plantillas/paginado_base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
	{% include 'DesarrolloBundle:Paginador:componentes/js_init.html.twig' %}
    <script type="text/javascript">
        var pgruta = ""
        function submitear (callback) {
            $('#loader-'+form).removeClass('hide')
            $('#tabla-'+form+' table').addClass('cargando')
            $.ajax({
                url: "",
                type: 'post',
                data: $('#'+form).serialize(),
            })
            .done(function(data) {
                if (data['totalRows'] == 0 && limpiarVal && ocultar) {
                    $('#table-container-'+form).addClass('hide')
                } else {
                    $('#table-container-'+form).removeClass('hide')
                }
                $('#tabla-body-'+form).html(data['html'])
                $('#actualPage-'+form).text($("#"+form+" #"+pageForm).val())
                $('#totalRows-'+form).text(data['totalRows'])
                $('#totalPages-'+form).text(data['totalPages'])

                $("#"+form+" #"+limpiarForm).val(false)
                limpiarVal = false
                totalPages = data['totalPages']
                pageVal = $("#"+form+" #"+pageForm).val()
                validarBotonesPag()

                loaderBoton(false)
                $('#loader-'+form).addClass('hide')
                $('#tabla-'+form+' table').removeClass('cargando')
                checkearSeleccionados()
                if (callback !== undefined) {
                    callback()
                }
            })
            .fail(function(err) {
                console.error("error", err);
            })
        }
	</script>
	{% include 'DesarrolloBundle:Paginador:componentes/js.html.twig' %}
{% endblock %}
