{% extends 'base_logueado.html.twig' %}

{% block body %}
    <a href="{{ path('login')}}"class="btn btn-lg btn-success"><i class="fas fa-home" aria-hidden="true"></i> Log-in </a>

    <div class="row">
        <div class="col-md-6 col-md-offset-5">
            <h1>Registrarse</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            {% if app.session.flashbag.has('aviso_error') %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                {% for flashMessage in app.session.flashbag.get('aviso_error') %}
                    <p>
                        {{ flashMessage }}
                    </p>
                {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
    <br>
    {{ form_start(form) }}
    <div class="row">
        <div class="row col-md-4 col-md-offset-4 input-group">
            {{ form_row(form.email, {'attr':{'class':'form-control'}}) }}
        </div>
        <br>
        <div class="row col-md-4 col-md-offset-4 input-group">
            {{ form_row(form.password, {'attr':{'class':'form-control'}}) }}
        </div>
        <br>
        <div class="row col-md-4 col-md-offset-4 input-group">
            {{ form_row(form.nombre, {'attr':{'class':'form-control'}}) }}
        </div>
        <br>
        <div class="row col-md-4 col-md-offset-4 input-group">
            {{ form_row(form.apellido, {'attr':{'class':'form-control'}}) }}
        </div>
        <br>
        <div class="row col-md-4 col-md-offset-4 input-group">
            {{ form_row(form.telefono, {'attr':{'class':'form-control'}}) }}
        </div>
        <br>
        
    </div>
    <br>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <input type="submit" class="btn btn-block btn-success"value="Registrarse " />
        </div>
    </div>
        {{ form_end(form) }}    
    </div>
    
{% endblock %}
