{% extends 'base.html.twig' %}

{% block body %}
    {{parent()}}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1> Cantidad
                    <button type="button" id="irAlListado" href="{{ path('publicacion_index') }}" class="btn btn-primary pull-right"> Ir al listado</button>
                </h1> 

                <div class="row">
                    {{ form_start(form) }}
                        <div class="col-md-6">
                            {{form_widget(form.cantidad, {'attr':{'class':'form-control'}})}}
                        </div>
                        <br><br><br><br><br><br><br><br>
                        
                        <div class="col-md-12 col-md-offset-10">
                            <input type="submit" value="Guardar" class="btn btn-success" />
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
