{% extends 'base_logueado.html.twig' %}

{% block contenido_largo %}
    <div class="row col-md-10 col-md-offset-1">
        <h1>
            <center> 
                Mi carrito <i class="fas fa-cart-plus"></i> 
                <button type="button" id="irAlListado" href="{{ path('publicacion_index') }}" class="btn btn-primary pull-right"> Ir al listado</button>
            </center>
        </h1>
        <div class="row col-md-10 col-md-offset-1">
            <hr>
        </div>
        {% for productoEnCarrito in carrito.productoEnCarrito %}
            {% if productoEnCarrito.publicacion.estado != 'activa' or productoEnCarrito.publicacion.stock == 0 %}
                {% set deshabilitado = 'deshabilitado' %}
            {% else %}
                {% set deshabilitado = 'habilitado' %}    
            {% endif %}
            <div class="row col-md-12">
                <div class="col-md-2">
                    <label>Foto</label>
                    <br>
                    <img src="{{ asset('uploads/publicacion-fotos/' ~ productoEnCarrito.publicacion.rutaFoto) }}" alt="" width="130">
                </div>
                <div class="col-md-3">
                    <label>Nombre</label>
                    <p>{{productoEnCarrito.publicacion.nombre}}</p>
                    <label>Descripcion</label>
                    <p>{{productoEnCarrito.publicacion.descripcion}}</p>
                </div>
                <div class="col-md-2">
                    <label>Precio</label>
                    <p>${{productoEnCarrito.publicacion.precioActual}}</p>
                    <label>Stock</label>
                    <p style="{% if productoEnCarrito.publicacion.stock == 0 %} color:red; {% endif %}">{{productoEnCarrito.publicacion.stock}}</p>
                </div>
                <div class="col-md-2">
                    <label>Cantidad solicitada</label>
                    <p>{{productoEnCarrito.cantidad}}</p>
                    <label>Estado</label>
                    <p style="{% if productoEnCarrito.publicacion.estado != 'activa'%} color:red; {% endif %}"> {{productoEnCarrito.publicacion.estado}}</p>
                </div>
                <div class="col-md-3">
                    <label>Acciones</label>
                    <br>
                    <button class="{{deshabilitado}} agregarCantidad btn btn-success" title="Agregar uno" href="{{ path('carrito_agregar_cantidad', { 'idCarrito': carrito.id, 'idProductoEnCarrito': productoEnCarrito.id }) }}">
                        <i class="fas fa-plus"></i>
                    </button>
                    <button class="restarCantidad btn btn-warning" title="Restar uno" href="{{ path('carrito_restar_cantidad', { 'idCarrito': carrito.id, 'idProductoEnCarrito': productoEnCarrito.id }) }}">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button class="eliminarProducto btn btn-danger" title="Eliminar del carrito" href="{{ path('carrito_eliminar_publicacion', { 'idCarrito': carrito.id, 'idProductoEnCarrito': productoEnCarrito.id }) }}">
                        <i class="fas fa-trash"></i>
                    </button>
                </div>
            </div>
        {% endfor %}
        {% if not carrito.productoEnCarrito is empty %}
            <div class="row col-md-11">
                <button id="comprar" href="{{ path('carrito_comprar', { 'id': carrito.id }) }}" class="btn btn-success pull-right"><i class="fas fa-check-circle"></i> Comprar carrito</button>
            </div>
            <div class="col-md-11">
                <br><br><br><br><br>
            </div>
        {% else %}
            <label> No hay productos en el carrito! </label>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $('#irAlListado').click(function(event) {
            var ruta = $(this).attr('href');
            window.location = ruta;
        });
        $('#comprar').click(function(event) {
            var ruta = $(this).attr('href');
            window.location = ruta;
        });
        $('.eliminarProducto').click(function(event) {
            var ruta = $(this).attr('href');
            window.location = ruta;
        });
        $('.agregarCantidad').click(function(event) {
            var ruta = $(this).attr('href');
            window.location = ruta;
        });
        $('.restarCantidad').click(function(event) {
            var ruta = $(this).attr('href');
            window.location = ruta;
        });
        $('.deshabilitado').attr('disabled', true);
        $('.deshabilitado').attr('title', 'Sin stock o deshabilitada');
    </script>
{% endblock %}