{% extends 'base_logueado.html.twig' %}

{% block contenido %}
    <h1><span><i class="fas fa-edit" aria-hidden="true"></i> Modificar publicación </span>
        <button id='irAlListado' class="btn btn-default pull-right btn btn-primary" href="{{ path('publicacion_index') }}">Ir al listado</button>
    </h1>

    {{ form_start(edit_form) }}
    <div class="row">
        <div class="col-xs-6">
            {{form_row(edit_form.producto, {'attr':{'class':'form-control'}})}}
        </div>
        <div class="col-xs-6">
            {{form_label(edit_form.foto)}}
            <br>
            <br>
            <div class="col-xs-6">
                {% if publicacion.rutaFoto %}
                    <img src="{{ asset('uploads/publicacion-fotos/' ~ publicacion.rutaFoto) }}" alt="" width="100">
                    <br>
                    <br>
                {% endif %}
            </div>
            <div class="col-xs-6">            
                {{form_widget(edit_form.foto, {'attr':{'class':'form-control'}})}}
                {{form_errors(edit_form.foto)}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            {{form_row(edit_form.nombre, {'attr':{'class':'form-control'}})}}
        </div>
        <div class="col-xs-6">
            {{form_row(edit_form.descripcion, {'attr':{'class':'form-control'}})}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            {{form_row(edit_form.estado, {'attr':{'class':'form-control'}})}}
        </div>
        <div class="col-xs-6">
            {{form_row(edit_form.stock, {'attr':{'class':'form-control'}})}}
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-6">
            {{form_row(edit_form.precio, {'attr':{'class':'form-control'}})}}
        </div>
        <div class="col-xs-6">
            {{form_row(edit_form.precioMaximo, {'attr':{'class':'form-control'}})}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            {{form_row(edit_form.precioMinimo, {'attr':{'class':'form-control'}})}}
        </div>
        <div class="col-xs-6">
            {{form_row(edit_form.precioActual, {'attr':{'class':'form-control'}})}}
        </div>
    </div>
    <br>
    
        <br>
        <input type="submit" value="Guardar" class="btn btn-block btn-success" />
    {{ form_end(edit_form) }}

    <br>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $('#irAlListado').click(function(event) {
            var ruta = $(this).attr('href');
            window.location = ruta;
        });
    </script>
{% endblock %}