{% extends 'DesarrolloBundle:Paginador:tabla.html.twig' %}

{% block titulo %}
    <br>
    <div class="col-md-10 col-md-offset-1" id="welcome">
        {% if idUsuario %}
            <h1><i class="fas fa-list-alt" aria-hidden="true"></i> Mis Publicaciones 
            <a class="btn btn-primary" href="{{path('publicacion_cambiarPrecio', {'tipoPrecio': 'minimo' } )}}"> Cambiar a precio Mínimo</a>
            <a class="btn btn-success" href="{{path('publicacion_cambiarPrecio', {'tipoPrecio': 'estandar' } )}}"> Cambiar a precio Estándar</a>
            <a class="btn btn-danger" href="{{path('publicacion_cambiarPrecio', {'tipoPrecio': 'maximo' } )}}"> Cambiar a precio Máximo</a>
            <a class="btn btn-info" href="{{path('publicacion_cambiarPrecioPorcentual')}}"> Cambiar precio por porcentaje %</a>
            </h1>
        {% else %}
            <h1><span><i class="fas fa-list-alt" aria-hidden="true"></i> Listado de Publicaciones </span></h1>
        {% endif %}
    </div>
    <div class="row">
        <a id="publicar" href="{{ path('publicacion_new') }}" class="btn btn-primary"> Publicar <i class="fas fa-edit"></i> </a>
    </div>
{% endblock %}

{% block paginado_tabla_encabezados %}
    <div class="col-md-10 col-md-offset-1" >
    <th><center>Foto</center></th>
    <th class="ordenable" sort="nombre"><center>Nombre</center></th>
    <th><center>Descripcion</center></th>
    <th width="20%"><center>Producto</center></th>
    <th><center>Autor</center></th>
    <th class="ordenable" sort="precio"><center>Precio</center></th>
    <th class="ordenable" sort="stock"><center>Stock</center></th>
    <th class="ordenable" sort="cantidad"><center>Vendidos</center></th>
    <th><center>Categoría</center></th>
    {% if idUsuario %}
        <th><center>Estado</center></th>
    {% endif %}
    <th>Acciones</th>
    </div>
{% endblock %}

{% block paginado_tabla_datos %}
    {% if entity.estado == 'activa' and entity.stock > 0  or app.user == entity.usuario %}
        <td class="row">
            <img src="{{ asset('uploads/publicacion-fotos/' ~ entity.rutaFoto) }}" alt="" width="100">
        </td>
        <td><center> {{ entity.nombre }}</center></td>
        <td><center> {{ entity.descripcion }}</center></td>
        <td><center> {{ entity.producto ? entity.producto.nombre : '--' }}</center></td>
        <td><center> {{entity.usuario}}</center></td>
        <td><center> ${{entity.precioActual}}</center></td>
        <td><center>{{entity.stock}}</center></td>
        <td><center>{{entity.cantidadVendida}}</center></td>
        {% if entity.producto %}
            <td><center>{{entity.producto.categoria}}</center></td>
        {% else %}
            <td><center></center></td>
        {% endif %}
        {% if idUsuario %}
            <td><center>{{entity.estado}}</center></td>
        {% endif %}
        <td>
            <a href="{{ path('publicacion_show', { 'id': entity.id }) }}"> <i class="fas fa-eye" style="color:#0062cc;" title="Ver detalles"></i> </a> &nbsp;
            {% if app.user == entity.usuario %}
                <a href="{{ path('publicacion_edit', { 'id': entity.id }) }}"><i class="fas fa-edit" style="color:#d39e00;" title="Editar"></i></a> &nbsp;
            {% else %}
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {% endif %}
        </td>
    {% endif %}
{% endblock %}
    
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $('#publicar').click(function(event){
            var ruta = $(this).attr('href');
            window.location = ruta;
        });
        $('.fecha').datepicker({
            format: "yyyy-mm-dd",
            todayBtn: true,
            language: "es",
            autoclose: true,
            todayHighlight: true
        });
    </script>
{% endblock %}