{% extends 'base_logueado.html.twig' %}

{% block contenido %}
    {{parent()}}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1> Nueva Publicación
                    <button type="button" id="irAlListado" href="{{ path('publicacion_index') }}" class="btn btn-primary pull-right"> Ir al listado</button>
                </h1> 

                <div class="row">
                    {{ form_start(form) }}
                        <div class="col-md-6">
                            {{form_label(form.producto)}}
                            {{form_widget(form.producto, {'attr':{'class':'form-control'}})}}
                        </div>
                        <div class="col-md-6">
                            {{form_label(form.foto)}}
                            {{form_widget(form.foto, {'attr':{'class':'form-control'}})}}
                        </div>
                        <div class="col-md-6">
                            {{form_label(form.nombre)}}
                            {{form_widget(form.nombre, {'attr':{'class':'form-control'}})}}
                        </div>
                        <div class="col-md-6">
                            {{form_label(form.descripcion)}}
                            {{form_widget(form.descripcion, {'attr':{'class':'form-control'}})}}
                        </div>
                        <div class="col-md-6">
                            {{form_label(form.estado)}}
                            {{form_widget(form.estado, {'attr':{'class':'form-control'}})}}
                        </div>
                        <div class="col-md-6">
                            {{form_label(form.stock)}}
                            {{form_widget(form.stock, {'attr':{'class':'form-control'}})}}
                        </div>
                        <div class="col-md-6">
                            {{form_label(form.precio)}}
                            {{form_widget(form.precio, {'attr':{'class':'form-control'}})}}
                        </div>
                        <div class="col-md-6">
                            {{form_label(form.precioMaximo)}}
                            {{form_widget(form.precioMaximo, {'attr':{'class':'form-control'}})}}
                        </div>
                        <div class="col-md-6">
                            {{form_label(form.precioMinimo)}}
                            {{form_widget(form.precioMinimo, {'attr':{'class':'form-control'}})}}
                        </div>
                        <div class="col-md-6">
                            {{form_label(form.precioActual)}}
                            {{form_widget(form.precioActual, {'attr':{'class':'form-control'}})}}
                        </div>

                        <div class="col-md-12 col-md-offset-10">
                            <br>
                            <input type="submit" value="Guardar" class="btn btn-success" />
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $('#irAlListado').click(function(event) {
            var ruta = $(this).attr('href');
            window.location = ruta;
        });
        $('#appbundle_publicacion_estado').change(function(event) {
            if ($(this).val() == 3){
                $('#appbundle_publicacion_stock').attr('required', false);
                $('#appbundle_publicacion_stock').val(null);
                $('#appbundle_publicacion_stock').attr('disabled', true)
            }
            else{
                $('#appbundle_publicacion_stock').attr('required', true);
                $('#appbundle_publicacion_stock').attr('disabled', false)    
            }
        });
    </script>
{% endblock %}
