{% extends 'base_logueado.html.twig' %}

{% block contenido %}
     <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <button type="button" id="irAlListado" href="{{ path('publicacion_index') }}" class="btn btn-primary pull-right"> Ir al listado</button>
            </div>

    <div class="row">
        <h1>
            <center> 
               Cambiar precios por porcentaje
            </center>
        </h1>
    </div>
    
    <hr>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <div class="col-md-12">
                <div class="col-md-12">
                    <center>
                        <p style="color:orange;"> <i class="fas fa-info-circle"></i> debes poner el porcentaje final. Ej: 110% </p>
                </center>
                </div>
            </div>
            <div class="col-md-12">
                {{ form_start(form) }}
                <label>Porcentaje a cambiar:</label>
                {{form_widget(form.cantidad, {'attr':{'class':'form-control'}})}}
                <br>
                <button type='submit' class="btn btn-block btn-success center">
                    Cambiar!
                </button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script type="text/javascript">
        $('#irAlListado').click(function(event) {
            var ruta = $(this).attr('href');
            window.location = ruta;
        });
    </script>
{% endblock %}