{% extends 'base_logueado.html.twig' %}

{% block contenido %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <button type="button" id="irAlListado" href="{{ path('publicacion_index') }}" class="btn btn-primary pull-right"> Ir al listado</button>
            </div>

    <div class="row">
        <h1>
            <center> 
                {{publicacion.nombre ? publicacion.nombre : '-Sin título-' }}
            </center>
        </h1>
        <h2>
            <center> 
                {{publicacion.descripcion ? publicacion.descripcion : '-Sin descripción-' }}
            </center>
        </h2>
    </div>
    
    <div class="row">
        <img src="{{ asset('uploads/publicacion-fotos/' ~ publicacion.rutaFoto) }}" alt="" width="500">
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <label>Autor</label>
            <p>{{publicacion.usuario}}</p>
        </div>
        <div class="col-md-6">
            <label>Fecha</label>
            <p>{{publicacion.fecha|date('d/m/Y')}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>Precio</label>
            <p>{{publicacion.precioActual}}</p>
        </div>
        <div class="col-md-6">
            <label>Stock</label>
            <p>{{publicacion.stock}}</p>
        </div>
    </div>
    <br>
    <hr>

    {% if app.user != publicacion.usuario %}
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="col-md-12">
                    {{ form_start(form) }}
                        {{form_label(form.cantidad)}}
                        {{form_widget(form.cantidad, {'attr':{'class':'form-control'}})}}
                    <br>
                    <button type='submit' class="btn btn-block btn-success center">
                        Añadir al carrito <i class="fas fa-cart-plus" style="color:#1e7e34;" title="Agregar al carrito"></i>
                    </button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    {% endif %}
    
    <h3>
        Comentarios
    </h3>
    {% if not publicacion.comentarios is empty %}
        {% for comentario in publicacion.comentarios %}
            <div class="row">
                <label><i class="fa fa-user" aria-hidden="true"></i> {{comentario.usuario}}</label>
                <div class="col-md-12">
                    <p><i class="fa fa-star" aria-hidden="true"></i> {{comentario.puntuacion}}</p>
                    <p><i class="fa fa-comment" aria-hidden="true"></i> {{comentario.descripcion}}</p>
                </div>
            </div>
            <hr>
        {% endfor %}


        <h3>
            Nube de palabras
        </h3>
        {% set tamanio = 50 %}
        {% for palabra, cantidad in nube %}
            <span style="font-size:{{tamanio}}px; color:{{colores[loop.index]}}">
                {{palabra}}
            </span>
            {% set tamanio = tamanio - 5 %}
        {% endfor %}
    {% else %}
        Sin comentarios.
    {% endif %}

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $('#irAlListado').click(function(event) {
            var ruta = $(this).attr('href');
            window.location = ruta;
        });
    </script>
{% endblock %}
