<div class="modal fade" tabindex="-1" role="dialog" id="{{ modalId }}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{ modalTitle }}</h4>
            </div>
            <div class="modal-body">
                {% block modal_body %}{% endblock %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default modal-cancelar-{{ paginador.id }}" data-dismiss="modal">Cancelar</button>
                {% set formulario = '#'~ paginador.id %}
                <button type="button" class="btn btn-ba" onclick="$('{{ formulario }}').submit();">{{ modalSubmit }}</button>
            </div>
        </div>
    </div>
</div>
