{% extends 'DesarrolloBundle:Paginador:plantillas/paginado_ajax_simple.html.twig' %}

{% if not ajax_params is defined %}
    {% set ajax_params = {} %}
{% endif %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {
            $(document).on('click', ".btn-seleccionar", function () {
                var value = $(this).data('value')
                var input = $(this).data('input')
                seleccionar(value, input)
            })

            function seleccionar(value, input) {
                $('#'+input).val(value)
                $('#form').attr('action', "")
                $('#form').submit()
            }
        })
    </script>
{% endblock %}

{% block listado %}
    {% set hasMassAction = paginador.massActions|length > 0 ? true : false %}
    <div class="table-responsive pg-table" id="tabla-{{ paginador.id }}">
        <table class="table table-striped table-hover table-condensed">
            <thead>
                <tr>
                    {% if hasMassAction %}
                        <th>
                            <input class="massaction-all" type="checkbox" id="massaction-all" name="massaction-all[]" value="-1">
                        </th>
                    {% endif %}
                    {% block paginado_tabla_encabezados %}{% endblock %}
                </tr>
            </thead>
            <tbody id="tabla-body-{{ paginador.id }}">
                {% block paginado_row %}
                    {% set hasMassAction = paginador.massActions|length > 0 ? true : false %}
                    {% for entity in paginador.entities %}
                        {% set entityid = entity.id is defined ? entity.id : '' %}
                        {% block paginado_row_prev %}
                            <tr class="fila {% block clase_fila %}{% endblock %}" id="fila-{{ entityid }}">
                                {% if hasMassAction %}
                                    <td>
                                        <input class="massaction" type="checkbox" id="massaction{% block massId %}{{ entityid }}{% endblock %}" name="massaction[]" value="{% block massValue %}{{ entityid }}{% endblock %}">
                                    </td>
                                {% endif %}
                                {% block paginado_tabla_datos %}{% endblock %}
                            </tr>
                        {% endblock %}
                    {% else %}
                        <tr class="danger">
                            <td colspan="8">
                                {% block sin_datos %}No hay datos para mostrar.{% endblock %}
                            </td>
                        </tr>
                    {% endfor %}
                {% endblock %}
            </tbody>
        </table>
        <i class="fas fa-spinner fa-spin table-loader hide" id="loader-{{ paginador.id }}"></i>
    </div>
{% endblock %}
