{% extends 'base_logueado.html.twig' %}

{% block contenido %}
     <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <button type="button" id="irAlListado" href="{{ path('publicacion_index') }}" class="btn btn-primary pull-right"> Ir al listado</button>
            </div>

    <div class="row">
        <h1>
            <center> 
               Canjear puntos<a class="btn btn-link" href="{{path('movimiento_index')}}">Ver Movimientos</a>
            </center>
        </h1>
    </div>
    
    <hr>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <center>
                    <label>Puntos:</label>
                    <p>{{billetera.puntos}}</p>
                    <p style="color:orange;"> <i class="fas fa-info-circle"></i> Necesitas {{puntosNecesarios}} puntos para donar ${{dineroPorPuntos}} </p>
            </center>
            </div>  
        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="col-md-12">
                    {{ form_start(form) }}
                    <label>Puntos a cambiar:</label>
                    {{form_widget(form.cantidad, {'attr':{'class':'form-control'}})}}
                    <label>Entidad de caridad:</label>
                    {{form_widget(form.entidad, {'value' : 'Default title','attr':{'class':'form-control'}})}}
                    <br>
                    <button type='submit' class="btn btn-block btn-success center">
                        <i class="fas fa-money"></i> Donar! <i class="fas fa-money"></i>
                    </button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script type="text/javascript">
        $('#irAlListado').click(function(event) {
            var ruta = $(this).attr('href');
            window.location = ruta;
        });
    </script>
{% endblock %}