{% extends 'base.html.twig' %}

{% block body %}
    <h1>Billeteras list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Createdat</th>
                <th>Dinero</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for billetera in billeteras %}
            <tr>
                <td><a href="{{ path('billetera_show', { 'id': billetera.id }) }}">{{ billetera.id }}</a></td>
                <td>{% if billetera.createdAt %}{{ billetera.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ billetera.dinero }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('billetera_show', { 'id': billetera.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('billetera_edit', { 'id': billetera.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('billetera_new') }}">Create a new billetera</a>
        </li>
    </ul>
{% endblock %}
