{% extends 'base_logueado.html.twig' %}

{% block contenido %}
     <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <button type="button" id="irAlListado" href="{{ path('publicacion_index') }}" class="btn btn-primary pull-right"> Ir al listado</button>
            </div>

    <div class="row">
        <h1>
            <center> 
               Mi billetera <a class="btn btn-link" href="{{path('movimiento_index')}}">Ver Movimientos</a> 
            </center>
        </h1>
    </div>
    
    <hr>
        <div class="col-md-12">
            <div class="col-md-2">
                <label>Dinero actual:</label>
                <p>{{billetera.dinero}}
                </p>
            </div>
            <div class="col-md-4">
                <a class="btn btn-danger" href="{{path('billetera_extraer')}}"> Extraer dinero</a>
            </div>
            <div class="col-md-3">
                <label>Puntos:</label>
                <p>{{billetera.puntos}}
                </p>
            </div>
            <div class="col-md-3">
                <a class="btn btn-info" href="{{path('billetera_canjear')}}"> Cambiar puntos</a>
                <br><br>
                <a class="btn btn-warning" href="{{path('billetera_donar')}}"> Donar puntos</a>
            </div>
        </div>

        <div class="row col-md-12">
            <div class="col-md-6 col-md-offset-3">
                <div class="col-md-12"> 
                    {{ form_start(form) }}
                    <label>Dinero a cargar:</label>
                    {{form_widget(form.cantidad, {'attr':{'class':'form-control'}})}}
                    <br>
                    <button type='submit' class="btn btn-block btn-success center">
                        <i class="fas fa-spin fa-money"></i> Cargar Dinero <i class="fas fa-spin fa-money"></i>
                    </button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script type="text/javascript">
        $('#irAlListado').click(function(event) {
            var ruta = $(this).attr('href');
            window.location = ruta;
        });
    </script>
{% endblock %}