{% extends paginador.layout ~ '.html.twig' %}

{% form_theme paginador.form 'form_div_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
	    #listado label.required::after {
	        content: '';
	    }
	    table th {
	        font-size: 15px;
	    }
	    .centrado {
	        text-align: center;
	    }
	    .table-responsive {
	    	overflow: visible;
	    }
	    .pg-table {
	        position: relative;
	    }
	    .table-loader {
	        position: absolute;
	        top: 0;
	        right: 0;
	        font-size: 32px;
	    }
	</style>
{% endblock %}

{% block body %}
	{% block titulo %}{% endblock %}
	<div id="listado">
	    <form action="" method="POST" id="{{ paginador.id }}">
	    	{% block pg_header %}{% endblock %}
	        <div id="table-container-{{ paginador.id }}" class="{% block clase_tabla %}{% endblock %}">
	            <div class="e10"></div>
            	<div class="table-responsive pg-table" id="tabla-{{ paginador.id }}">
			        <table class="table table-striped table-hover table-condensed">
			            <thead>
			                <tr>
			                    {% block paginado_tabla_encabezados %}{% endblock %}
			                </tr>
			            </thead>
			            <tbody id="tabla-body-{{ paginador.id }}">
			                {% block paginado_row %}
			                    {% for entity in paginador.entities %}
			                        <tr class="fila {% block clase_fila %}{% endblock %}" id="fila-{{ entity.id }}">
			                            {% block paginado_tabla_datos %}{% endblock %}
			                        </tr>
			                    {% else %}
			                        <tr class="danger">
			                            <td colspan="8">
			                                {% block sin_datos %}No hay datos para mostrar.{% endblock %}
			                            </td>
			                        </tr>
			                    {% endfor %}
			                {% endblock %}
			            </tbody>
			        </table>
			        <i class="fas fa-spinner fa-spin table-loader hide" id="loader-{{ paginador.id }}"></i>
			    </div>
	            {% block pg_footer %}{% endblock %}
	            <hr>
	            <div class="row">
					<div class="col-xs-4">
				        <strong>Total:</strong> <span id="totalRows-{{ paginador.id }}">{{ paginador.totalRows }}</span>
					</div>
				    <div class="col-xs-4 small text-center">
					    <div class="page-nav {{ ( paginador.totalPages <= 1 ) ? 'hide' : '' }}">
					        <button class="btn btn-default btn-navbar btn-sm" id="firstPage-{{ paginador.id }}" type="button" title="Primera página">
					            <<
					        </button>
					        <button class="btn btn-default btn-navbar btn-sm"  id="prevPage-{{ paginador.id }}" type="button" title="Página anterior">
					            <
					        </button>
					        <span class="btn btn-default btn-navbar btn-sm">
					            <span id="actualPage-{{ paginador.id }}">{{ paginador.form.vars.value.page }}</span> de <span id="totalPages-{{ paginador.id }}">{{ paginador.totalPages }}</span> {{ form_row(paginador.form.page) }}
					        </span>
					        <button class="btn btn-default btn-navbar btn-sm" id="nextPage-{{ paginador.id }}" type="button" title="Página siguiente">
					            >
					        </button>
					        <button class="btn btn-default btn-navbar btn-sm" id="lastPage-{{ paginador.id }}" type="button" title="Última página">
					            >>
					        </button>
					    </div>
					</div>
				    <div class="col-xs-12 col-sm-2 col-sm-offset-2 small {{ paginador.hide.cantPorPagina ? 'hide' : '' }}">
					    {{ form_label(paginador.form.cantResultsPage, null) }}
					    {{ form_widget(paginador.form.cantResultsPage, { 'attr': {'class': 'btn btn-default btn-navbar btn-sm'} }) }}
					</div>
				</div>
	            <hr>
	        </div>
	        {{ form_row(paginador.form._token) }}
	    </form>
	</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
	<script type="text/javascript">
        var form = "{{ paginador.id }}"
        var pageForm = "{{ paginador.form.page.vars.id }}"
        var pageVal = "{{ paginador.form.vars.value.page }}"
        var totalPages = "{{ paginador.totalPages }}"
        var totalRows = "{{ paginador.totalRows }}"
        var cantForm = "{{ paginador.form.cantResultsPage.vars.id }}"

        function validarBotonesPag() {
            if (totalPages <= 1) {
                $('#'+form+" .page-nav").addClass('hide')
            } else {
                $('#'+form+" .page-nav").removeClass('hide')
            }
            $('#prevPage-'+form).attr('disabled',
                  (+$("#"+form+" #"+pageForm).val() <= 1))
            $('#nextPage-'+form).attr('disabled',
                ( parseInt(totalPages) <= parseInt(pageVal) ))
            $('#lastPage-'+form).attr('disabled',
                ( parseInt(totalPages) <= parseInt(pageVal) ))
            $('#firstPage-'+form).attr('disabled',
                (+$("#"+form+" #"+pageForm).val() <= 1))
        }

        function loaderBoton(active = true) {
            var contenido = active
                            ? '<i class="fas fa-spinner fa-spin" style="margin: auto 14.7px;"></i>'
                            : 'Buscar'
            $('#buscar-'+form).html(contenido)
        }

        var pgruta = ""
        function submitear (callback) {
            $('#loader-'+form).removeClass('hide')
            $('#tabla-'+form+' table').addClass('cargando')
            $.ajax({
                url: "",
                type: 'post',
                data: $('#'+form).serialize(),
            })
            .done(function(data) {
                $('#tabla-body-'+form).html(data['html'])
                $('#actualPage-'+form).text($("#"+form+" #"+pageForm).val())
                $('#totalRows-'+form).text(data['totalRows'])
                $('#totalPages-'+form).text(data['totalPages'])

                totalPages = data['totalPages']
                pageVal = $("#"+form+" #"+pageForm).val()
                validarBotonesPag()

                loaderBoton(false)
                $('#loader-'+form).addClass('hide')
                $('#tabla-'+form+' table').removeClass('cargando')
                if (callback !== undefined) {
                    callback()
                }
            })
            .fail(function(err) {
                console.error("error", err);
            })
        }

        $(function () {
            validarBotonesPag()

            $('#prevPage-'+form).click(function () {
                $("#"+form+" #"+pageForm).val(+$("#"+form+" #"+pageForm).val() - 1)
                submitear()
            })
            $('#nextPage-'+form).click(function () {
                $("#"+form+" #"+pageForm).val(+$("#"+form+" #"+pageForm).val() + 1)
                submitear()
            })
            $('#firstPage-'+form).click(function () {
                $("#"+form+" #"+pageForm).val(1)
                submitear()
            })
            $('#lastPage-'+form).click(function () {
                $("#"+form+" #"+pageForm).val(totalPages)
                submitear()
            })
            $("#"+form+" #"+cantForm).change(function () {
                $("#"+form+" #"+pageForm).val(1)
                submitear()
            })

            function buscar() {
                loaderBoton()
                $("#"+form+" #"+pageForm).val(1)
                submitear()
            }
            $('#buscar-'+form).click(function () {
                buscar()
            })

            $('[data-toggle="tooltip"]').tooltip()
        });
    </script>
{% endblock %}
