{% extends 'base_logueado.html.twig' %}

{% block contenido %}
<div id="donutchart" style="width: 900px; height: 500px;"></div>
          {% for var in variables %}
          ['{{ var.monto }}', '{{ var.nombre }}'],
          {% endfor %}
          asdasd
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          {% for var in variables %}
          ['{{ var.monto }}', '{{ var.nombre }}'],
          {% endfor %}
        ]);

        var options = {
          title: 'My Daily Activities',
          pieHole: 0.4,
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
        chart.draw(data, options);
      }
    </script>
{% endblock %}