<div class="col-xs-12 col-sm-2 {{ paginador.exports|length == 0 ? 'col-sm-offset-2' : '' }} small {{ paginador.hide.cantPorPagina ? 'hide' : '' }}">
    {{ form_label(paginador.form.cantResultsPage, null) }}
    {{ form_widget(paginador.form.cantResultsPage, { 'attr': {'class': 'btn btn-default btn-navbar btn-sm'} }) }}
    {# Registros por página #}
</div>
