<div class="col-xs-2 {{ paginador.hide.cantPorPagina ? 'col-xs-offset-1' : '' }} small {{ paginador.exports|length > 0 ? '' : 'hide' }}">
    {% for export in paginador.exports %}
        <a class="btn btn-sm btn-{{ export.type == 'excel' ? 'success' : 'danger' }} export" id="{{ export.id }}" href="?exportar={{ export.id }}" data-toggle="tooltip" data-placement="bottom" title="{{ export.tooltip }}">
            <i class="fas fa-file-{{ export.type }}" style="font-size: 14px;"></i>
        </a>
    {% endfor %}
</div>
