<div class="panel-group" id="accordion-{{ paginador.id }}" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne-{{ paginador.id }}">
            <a id="panel-filtro-{{ paginador.id }}" data-toggle="collapse" data-parent="#accordion-{{ paginador.id }}" href="#collapseOne-{{ paginador.id }}" aria-expanded="true" aria-controls="collapseOne-{{ paginador.id }}">
                <h4 class="text-left panel-title">
                    <span class="fa fa-search" aria-hidden="true"></span>
                    Filtros de búsqueda
                    <span id="flecha-{{ paginador.id }}" class="flecha fa fa-chevron-{{ paginador.estadoPanel == 'open' ? 'up' : 'down' }}"></span>
                </h4>
            </a>
        </div>
        <div id="collapseOne-{{ paginador.id }}" class="panel-collapse collapse {{ paginador.estadoPanel == 'open' ? 'in' : '' }}" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body" id="filtros-{{ paginador.id }}">
                {% block aclaracion %}{% endblock %}
                {% block filtros %}
                	{% include 'DesarrolloBundle:Paginador:componentes/filtro_panel_filtros.html.twig' %}
                {% endblock %}
               <div class="row"> 
                   <div class="col-md-12"> 
                        <div class="col-md-6 small">
                            <button class="btn btn-primary btn-navbar btn-md" id="buscar-{{ paginador.id }}" style="cursor:pointer" type="button" title="Buscar">
                            <i class="fas fa-search"></i>    
                                Buscar
                            </button>
                            <button class="btn btn-default btn-navbar btn-md" id="limpiar-{{ paginador.id }}" style="cursor:pointer" type="button" title="Limpiar">
                            <i class="fas fa-eraser"></i>
                                Limpiar
                            </button>
                        </div>
                        <div class="col-md-6 small">
                            {% block boton_volver %}{% endblock %}
                        </div>
                    </div> 
                </div>        
            </div>
        </div>
    </div>
</div>
