<div class="row">
    {% for filtro in filtros %}
        <div class="form-group col-xs-12 col-sm-4">
            {{ form_label(filtro) }}
            {{ form_widget(filtro, { 'attr': {'class': 'form-control upper'} }) }}
            <div class="text-danger">
                {{ form_errors(filtro) }}
            </div>
        </div>
    {% endfor %}
</div>
