<div id="filtros-{{ paginador.id }}">
	<div class="row">
		{% for filtro in filtros %}
			<div class="col-sm-3" style="margin-bottom: 10px;">
				{{ form_widget(filtro, {"attr": {"class": "form-control upper"} } ) }}
			</div>
		{% endfor %}
		<div class="col-sm-3">
			<button class="btn btn-primary" id="buscar-{{ paginador.id }}" type="button" title="Buscar">
	            Buscar
	        </button>
	        <button class="btn btn-default" id="limpiar-{{ paginador.id }}" type="button" title="Limpiar">
	            Limpiar
	        </button>
		</div>
	</div>
</div>
