{% if paginador.form.massForm is defined %}
{% endif %}
{% include 'DesarrolloBundle:Paginador:componentes/mass_actions_form.html.twig' %}
<div class="row">
    {% include 'DesarrolloBundle:Paginador:componentes/mass_actions.html.twig' %}
    {% include 'DesarrolloBundle:Paginador:componentes/page_nav.html.twig' %}
    {% include 'DesarrolloBundle:Paginador:componentes/exports.html.twig' %}
    {% include 'DesarrolloBundle:Paginador:componentes/cant_pagina.html.twig' %}
</div>
