<script type="text/javascript">
    $(function () {
        validarBotonesPag()

        $('#prevPage-'+form).click(function () {
            $("#"+form+" #"+pageForm).val(+$("#"+form+" #"+pageForm).val() - 1)
            submitear()
        })
        $('#nextPage-'+form).click(function () {
            $("#"+form+" #"+pageForm).val(+$("#"+form+" #"+pageForm).val() + 1)
            submitear()
        })
        $('#firstPage-'+form).click(function () {
            $("#"+form+" #"+pageForm).val(1)
            submitear()
        })
        $('#lastPage-'+form).click(function () {
            $("#"+form+" #"+pageForm).val(totalPages)
            submitear()
        })
        $("#"+form+" #"+cantForm).change(function () {
            $("#"+form+" #"+pageForm).val(1)
            submitear()
        })
        $('#ordenar-'+form).click(function () {
            $("#"+form+" #"+pageForm).val(1)
            submitear()
        })

        function buscar() {
            loaderBoton()
            $("#"+form+" #"+pageForm).val(1)
            //limpiarMassIds()
            submitear()
        }
        $('#buscar-'+form).click(function () {
            buscar()
        })
        $('#limpiar-'+form).click(function () {
            console.log($("#"+form+" #"+limpiarForm).val())
            $('#filtros-'+form+' :input').val('')
            $("#"+form+" #"+limpiarForm).val(true)
            limpiarVal = true
            console.log($("#"+form+" #"+limpiarForm).val())
            limpiarMassIds()
            buscar()
        })
        $('#filtros-'+form+' :input').keypress(function (e) {
            if (e.keyCode == 13) {
            	//limpiarMassIds()
                buscar()
            }
        })

        $('th.ordenable').each(function () {
            var by = $(this).attr('sort')
            if (by == ordenPorVal) {
                orden = ordenVal == "asc" ? "up" : "down"
                $(this).attr('orden', ordenVal)
                $(this).append('<i class="fas fa-sort-'+orden+'"></i>')
            }
        })
        $('th.ordenable').click(function () {
            var by = $(this).attr('sort')
            var orden = $(this).attr('orden')
            $("#"+ordenPorForm).val(by)
            $("#"+pageForm).val(1)
            if (orden) {
                $(this).find('i.fa').toggleClass('fa-sort-up fa-sort-down')
                orden = orden == 'asc' ? 'desc' : 'asc'
                $(this).attr('orden', orden)
                $("#"+ordenForm).val(orden)
            }
            else {
                $('th.ordenable').removeAttr('orden')
                $('th.ordenable i.fa').remove()
                $(this).attr('orden', ordenVal)
                $("#"+ordenForm).val(ordenVal)
                orden = ordenVal == "asc" ? "up" : "down"
                $(this).append('<i class="fas fa-sort-'+orden+'"></i>')
            }
            submitear()
        });

        checkearSeleccionados()

        $("#panel-filtro-{{ paginador.id }}").click(function () {
            $("#flecha-{{ paginador.id }}").toggleClass('fa-chevron-down fa-chevron-up')
        })

        $('[data-toggle="tooltip"]').tooltip()

        $(document).on('click', '.massaction',function (e) {
            var valor = $(this).val()
            if ($(this).is(':checked')) {
                $('#'+form+' #'+massIdsForm).val($('#'+form+' #'+massIdsForm).val()+'#'+valor)
                var count = parseInt($('#seleccionados-count').text()) + 1
            }
            else {
                var arr = []
                if ($('#'+form+' #'+massAllForm).val() == 'true') {
                    $('#'+form+' #'+massAllForm).val(false)
                    $('#massaction-all')[0].checked = false
                    /*$('.massaction:checked').each(function(index, el) {
                        arr.push(this.value)
                    });
                    var count = arr.length*/
                }
                //else {
                    arr = $('#'+form+' #'+massIdsForm).val().split('#')
                    var index = arr.indexOf(valor)
                    arr.splice(index, 1)
                    var count = arr.length
                    if (arr.length > 0 && arr[0] == "") {
                        count--
                    }
                //}
                var resultado = arr.join('#')
                $('#'+form+' #'+massIdsForm).val(resultado)
            }
            $('#'+form+' #seleccionados-count').text(count)
        })

        $(document).on('click', '#massaction-all', function (e) {
            var acc = this.checked ? true : false
            $('#'+form+' #'+massAllForm).val(acc)
            massAllVal = acc
            if (acc) {
                $('#'+form+' .massaction:not(:checked)').trigger("click")
            } else {
                $('#'+form+' .massaction:checked').trigger("click")
            }
            /*
            $('#'+form+' .massaction').each(function(index, el) {
                this.checked = acc
            })
            if (acc) {
                var count = Number($('#totalRows-'+form).text())
            }
            else {
                limpiarMassIds()
                var count = 0
            }
            $('#'+form+' #seleccionados-count').text(count) */
        })

        $(document).on('click', '.dropdown .action', function (e) {
            e.preventDefault()
            if ($('#'+form+' #seleccionados-count').text() == '0') {
                $('#'+form+' #mass-count-error').removeClass('hide')
                setTimeout(function () {
                    $('#'+form+' #mass-count-error').addClass('hide')
                }, 2500)
            } else {
                var modal = $(this).attr('modal')
                var action = pgruta +"?mass=" + $(this).attr('id')
                var x = $('#'+form).attr('action')
                var i = x.indexOf('?')
                if (i > -1) {
                    x = x.substr(0, i)
                }
                $('#'+form).attr('action', x+action)
                if (modal != '') {
                    $('#'+modal).modal('show')
                } else {
                    $('#'+form).submit()
                }
            }
        })

        $(".modal-cancelar-{{ paginador.id }}").click(function () {
            var action = $('#'+form).attr('action')
            var i = action.indexOf('?')
            if (i > -1) {
                action = action.substr(0, i)
            }
            $('#'+form).attr('action', action)
        })

        $(document).on('click', '.export', function (e) {
            e.preventDefault()
            var action = pgruta + $(this).attr('href')
            var x = $('#'+form).attr('action')
            var i = x.indexOf('?')
            if (i > -1) {
                x = x.substr(0, i)
            }
            $('#'+form).attr('action', x+action)
            $('#'+form).submit()
            $('#'+form).attr('action', pgruta)
        })
    });
</script>
