<script type="text/javascript">
	var form = "{{ paginador.id }}"
    var pageForm = "{{ paginador.form.page.vars.id }}"
    var pageVal = "{{ paginador.form.vars.value.page }}"
    var totalPages = "{{ paginador.totalPages }}"
    var totalRows = "{{ paginador.totalRows }}"
    var cantForm = "{{ paginador.form.cantResultsPage.vars.id }}"
    var ordenPorForm = "{{ paginador.form.ordenarPor.vars.id }}"
    var ordenPorVal = "{{ paginador.form.vars.value.ordenarPor }}"
    var ordenForm = "{{ paginador.form.orden.vars.id }}"
    var ordenVal = "{{ paginador.form.vars.value.orden ? paginador.form.vars.value.orden : 'asc' }}"
    var massIdsForm = "{{ paginador.form.massIds.vars.id }}"
    var massIdsVal = "{{ paginador.form.vars.value.massIds }}"
    var massAllForm = "{{ paginador.form.massAll.vars.id }}"
    var massAllVal = "{{ paginador.form.vars.value.massAll }}"
    var showPageNav = "{{ paginador.hide.pageNav }}"
    var limpiarForm = "{{ paginador.form.limpiar.vars.id }}"
    var limpiarVal = false
    var ocultar = "{{ paginador.hide.listado }}"

    $("#"+form+" #"+limpiarForm).val(false)

    function validarBotonesPag() {
        if (totalPages <= 1 && !showPageNav) {
            $('#'+form+" .page-nav").addClass('hide')
        } else {
            $('#'+form+" .page-nav").removeClass('hide')
        }
        $('#prevPage-'+form).attr('disabled',
              (+$("#"+form+" #"+pageForm).val() <= 1))
        $('#nextPage-'+form).attr('disabled',
            ( parseInt(totalPages) <= parseInt(pageVal) ))
        $('#lastPage-'+form).attr('disabled',
            ( parseInt(totalPages) <= parseInt(pageVal) ))
        $('#firstPage-'+form).attr('disabled',
            (+$("#"+form+" #"+pageForm).val() <= 1))
    }

    function limpiarMassIds() {
        $("#"+form+" #"+massIdsForm).val('')
        massIdsVal = null
        $("#"+form+" #"+massAllForm).val(false)
        massAllVal = false
    }

    function checkearSeleccionados() {
        if ($('#'+form+' #'+massIdsForm).val()) {
            var arr = $('#'+form+' #'+massIdsForm).val().split('#')
            for (var i = 0; i < arr.length; i++) {
                $('#'+form+' #massaction'+arr[i]).attr('checked', 'checked')
            }
            var count = arr.length
            if (arr.length > 0 && arr[0] == "") {
                count--
            }
            $('#'+form+' #seleccionados-count').text(count)
        }
        else {
            $('#'+form+' #seleccionados-count').text(0)
        }

        var todos = $('#'+form+' .massaction').length
        var seleccionados = $('#'+form+' .massaction:checked').length
        var valor = todos === seleccionados
        var ma = $('#'+form+' #massaction-all')[0]
        if (ma !== undefined) {
            ma.checked = valor
        }
        $('#'+form+' #'+massAllForm).val(valor)
    }

    function loaderBoton(active = true) {
        var contenido = active
                        ? '<i class="fas fa-spinner fa-spin" style="margin: auto 14.7px;"></i>'
                        : 'Buscar'
        $('#buscar-'+form).html(contenido)
    }
</script>
