{% if paginador.form.massForm is defined %}
	<div id="massForm-{{ paginador.id }}">
		<div class="row">
			{% for campo in paginador.form.massForm %}
				<div class="col-sm-3" style="margin-bottom: 20px;">
					{{ form_label(campo) }}
					{{ form_widget(campo, {"attr": {"class": "form-control"} } ) }}
				</div>
			{% endfor %}
		</div>
	</div>
{% endif %}
