<div class="alert alert-danger alert-dismissible hide" role="alert" id="mass-count-error">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    Debe seleccionar al menos un item
</div>
