{{ form_row(paginador.form.massIds) }}
{{ form_row(paginador.form.massAll) }}
<div class="col-xs-3 col-xs-offset-1">
    <div class="dropdown">
        {% if paginador.massActions|length > 0 %}
        	{% if paginador.massActions|length > 1 %}
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMassActions"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Acciones <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMassActions">
                    {% for action in paginador.massActions %}
                        <li>
                            <a href="#" id="{{ action.id }}" modal="{{ action.confirmationModal }}" class="action">{{ action.titulo }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
            	{% for action in paginador.massActions %}
                    <a href="#" id="{{ action.id }}" modal="{{ action.confirmationModal }}" class="btn btn-primary action">{{ action.titulo }}</a>
                {% endfor %}
        	{% endif %}
            <span id="seleccionados">
                <strong>Seleccionados:</strong> <span id="seleccionados-count"></span>
            </span>
        {% endif %}
        <strong>Total:</strong> <span id="totalRows-{{ paginador.id }}">{{ paginador.totalRows }}</span>
    </div>
</div>
