<div class="col-xs-12 text-right text-right-not-xs {{ paginador.form.ordenarPor.vars.choices|length == 0 or paginador.hide.order ? 'hide' : ''}}">
    {{ form_label(paginador.form.ordenarPor, null) }}
    {{ form_widget(paginador.form.ordenarPor, { 'attr': {'class': 'btn btn-default btn-navbar btn-sm'} }) }}
    {{ form_widget(paginador.form.orden, { 'attr': {'class': 'btn btn-default btn-navbar btn-sm'} }) }}
    <button class="btn btn-default btn-navbar btn-sm" id="ordenar" style="cursor:pointer" type="button" title="Ordenar">
        Ordenar
    </button>
</div>
