<div class="col-xs-4 small text-center">
    <div class="page-nav {{ ( paginador.totalPages <= 1 and not paginador.hide.pageNav ) ? 'hide' : '' }}">
        <button class="btn btn-default btn-navbar btn-sm" id="firstPage-{{ paginador.id }}" type="button" title="Primera página">
            <<
        </button>
        <button class="btn btn-default btn-navbar btn-sm"  id="prevPage-{{ paginador.id }}" type="button" title="Página anterior">
            <
        </button>
        <span class="btn btn-default btn-navbar btn-sm">
            <span id="actualPage-{{ paginador.id }}">{{ paginador.form.vars.value.page }}</span> de <span id="totalPages-{{ paginador.id }}">{{ paginador.totalPages }}</span> {{ form_row(paginador.form.page) }}
        </span>
        <button class="btn btn-default btn-navbar btn-sm" id="nextPage-{{ paginador.id }}" type="button" title="Página siguiente">
            >
        </button>
        <button class="btn btn-default btn-navbar btn-sm" id="lastPage-{{ paginador.id }}" type="button" title="Última página">
            >>
        </button>
    </div>
</div>
{{ form_row(paginador.form.limpiar) }}
