{% extends 'base_logueado.html.twig' %}
{% block contenido_largo %}
     <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <button type="button" id="irAlListado" href="{{ path('publicacion_index') }}" class="btn btn-primary pull-right"> Ir al listado</button>
            </div>

    <div class="row">
        <h1>
            <center> 
              <i class="fas fa-shopping-bag"></i> Mis compras 
            </center>
        </h1>
    </div>

    <hr>
    <table class="table table-responsive">
        <thead>
            <th><center>Foto</center></th>
            <th><center>Cantidad</center></th>
            <th><center>Fecha</center></th>
            <th><center>Precio total</center></th>
            <th><center>Acciones</center></th>
        </thead>
        {% for compra in compras %}
            <tbody>
                <td><center>
                    <img src="{{ asset('uploads/publicacion-fotos/' ~ compra.publicacion.rutaFoto) }}" alt="" width="100">
                </center>
                </td>
                <td><center>
                    {{compra.cantidad}}
                </center>
                </td>
                <td><center>
                    {{compra.fecha|date('d/m/Y H:i:s')}}
                </center>
                </td>
                <td><center>
                    {{compra.precio}}
                </center>
                </td>
                <td>
                    {% set comentado = false %}
                    {% for comentario in compra.publicacion.comentarios %}
                        {% if comentario.usuario == app.user %}
                            {% set comentado = true %}
                        {% endif %}
                    {% endfor %}
                    {% if not comentado %}
                    </center>
                        <a class="btn btn-info" href="{{path('comentario_new', {'idPublicacion': compra.publicacion.id} )}}"><i class="fas fa-comment"></i> Comentar/Puntar </a>  
                    <center>
                    {% else %}
                        <a class="btn btn-warning disabled" href="#"><i class="fas fa-comment"></i> Comentado/Puntado </a>  
                    {% endif %}
                </td>
            </tbody>
        {% endfor %}
    </table>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script type="text/javascript">
        $('#irAlListado').click(function(event) {
            var ruta = $(this).attr('href');
            window.location = ruta;
        });
    </script>
{% endblock %}