{% extends 'base_logueado.html.twig' %}

{% block contenido %}
<div id="donutchart" style="width: 900px; height: 500px;"></div>
{{ dump(ventas) }}
{% endblock %}

{% block javascripts %}

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          {% for venta in ventas %}
              ['{{venta.nombre}}',{{venta.monto}}]{% if not loop.last %},{% endif %}
              
          {% endfor %}
          ]);
        var options = {
          title: 'My Daily Activities',
          pieHole: 0.4,
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
        chart.draw(data, options);
      }
    </script>
{% endblock %}