{% extends 'base.html.twig' %}

{% block body %}
    <h1>Compra</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ compra.id }}</td>
            </tr>
            <tr>
                <th>Cantidad</th>
                <td>{{ compra.cantidad }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{% if compra.fecha %}{{ compra.fecha|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Precio</th>
                <td>{{ compra.precio }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('compra_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('compra_edit', { 'id': compra.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
