<div class="col-sm-2 text-right">
	<h3>
		<button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapseAyudaBtn" aria-expanded="false" aria-controls="collapseAyudaBtn">
			<span class="fa fa-life-ring" aria-hidden="true"></span> Ayuda
		</button>
	</h3>
</div>
<div class="col-md-12">
	<div class="collapse" id="collapseAyudaBtn">
		<div class="panel panel-default text-justify">
			<div class="panel-body">
				{% block descripcion %}{% endblock %}
			</div>
		</div>
	</div>
</div>
