{% if app.session.flashbag.has('aviso_info') %}
	<div class="row">
	    <div class="alert alert-info alert-dismissible col-md-8 col-md-offset-2" role="alert" style="margin-bottom: 3.1rem;">
	        <a href="#" class="close" data-dismiss="alert" style="position:relative; margin-top: 0.65rem;"><i class="fas fa-times-circle"></i></a>
	        <i class="fas fa-info-circle fa-2x" style="position:relative; top:4px; margin-left:1rem; padding-right:0.5rem"></i>
	        {% for flashMessage in app.session.flashbag.get('aviso_info') %}
	            <strong>
	                {{ flashMessage|raw }}
	            </strong>
	        {% endfor %}
	    </div>
	</div>
{% endif %}
