{% if app.session.flashbag %}
    <div class="row">
        {% include 'DesarrolloBundle:Componente:flash_exito.html.twig' %}
        {% include 'DesarrolloBundle:Componente:flash_info.html.twig' %}
        {% include 'DesarrolloBundle:Componente:flash_error.html.twig' %}
        {% include 'DesarrolloBundle:Componente:flash_warning.html.twig' %}
    </div>
{% endif %}
