<div class="panel-group" id="accordionAyuda" role="tablist" aria-multiselectable="true">
	<div class="panel panel-default">
		<div class="panel-heading" role="tab" id="headingOneAyuda">
			<h4 class="text-right panel-title ">
				<a data-toggle="collapse" data-parent="#accordionAyuda" href="#collapseOneAyuda" aria-expanded="true" aria-controls="collapseOne">
					Ayuda
				</a>
				<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			</h4>
		</div>
		<div id="collapseOneAyuda" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOneAyuda">
			<div class="panel-body">
				{% block descripcion %}{% endblock %}
			</div>
		</div>
	</div>
</div>
